<GridLayout rows="auto, auto, *">
  <GridLayout row="0" columns="auto, *, auto">
    <Button col="0" text="<" (tap)="onGoBack()"></Button>
<!--    <Image col="0" [src]="backwardArrowSrc" (tap)="onGoBack()"></Image>-->
    <TextField
      #urlTextFieldRef
      col="1"
      [text]="url"
      (returnPress)="onReturnPress()"
      returnKeyType="go"
    ></TextField>
    <Button col="3" text=">" (tap)="onGoForward()"></Button>
<!--    <Image col="2" [src]="forwardArrowSrc" (tap)="onGoForward()"></Image>-->
  </GridLayout>
  <GridLayout row="1" columns="*, *">
    <Button
      col="0"
      text="Bookmark"
      (tap)="onBookmark()"
      [ngStyle]="{ 'background-color': bookmarkService.isBookmark(url) ? 'green' : 'red' }"
    ></Button>
    <Button col="1" text="Bookmarks" [nsRouterLink]="['/bookmarks']"></Button>
  </GridLayout>
  <WebView
    #webViewRef
    row="2"
    [src]="url"
    (loadFinished)="onLoadFinished($event)"
  ></WebView>
</GridLayout>
